*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #ffffff;
    position:sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h1{
    color: #FF6B35;
    font-size: 24px;
}

.img-logo{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

nav a:hover{
    color: #FF6B35;
}

#inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    background-color: #FF6B35;
}

.texto-inicio{
    max-width: 700px;
}

.texto-inicio h2{
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
}

.texto-inicio p{
    color: white;
    font-size: 35px;
    margin-bottom: 30px;
}

.botoes{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.btn-agendar, .btn-servicos{
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.btn-agendar{
    padding: 15px 30px;
    background-color: white;
    color: #FF6B35;
    border: none;
}


.btn-servicos{
    padding: 14px 27px;
    background-color: #FF6B35;
    color: white;
    border: 2px solid white;
}

.texto-inicio button{
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.imagem-inicio img{
    width: 500px;
    border-radius: 10px;
    margin-right: 75px;
}

#servicos{
    justify-content: center;
    text-align: center;
    background-color: white;
}

#servicos h2{
    color: #FF6B35;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
}

#servicos > p{
    color: #777;
    font-size: 25px;
    margin-bottom: 80px;

}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    background-color: #ffffff;
    width: 350px;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card:hover {
    transform: translateY(-1px);
}

.icone{
    font-size: 35px;
    margin-bottom: 15px;
}

.card h3{
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
}

.card p{
    color: #777;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.preco{
    color:#FF6B35;
    font-size: 16px;
}




