*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #ffffff;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h1{
    color: #FF6B35;
    font-size: 24px;
}

.img-logo{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

nav a:hover{
    color: #FF6B35;
}

#inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    background-color: #FF6B35;
}

.texto-inicio{
    max-width: 700px;
}

.texto-inicio h2{
    font-size: 55px;
    margin-bottom: 20px;
}

.texto-inicio p{
    font-size: 35px;
    margin-bottom: 30px;
}

.botoes{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-agendar{
    background-color: white;
    color: #FF6B35;
    border: none;
}

.btn-servicos{
    background-color: #FF6B35;
    color: white;
    border: 2px solid white;
}

.texto-inicio button{
    padding: 15px 30px;
    border-radius: 10px;

    cursor: pointer;
}

.imagem-inicio img{
    width: 500px;
    border-radius: 10px;
}





